<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:substituteby="home::head"></head>
    <body>
    <header th:substituteby="home::mainHeader"></header>
    <section id="main-section">
   	<div id="m-block">
    <section th:substituteby="home::blockLeft"></section>
   	<div id="m-block-top">
    	<section th:substituteby="home::userSection"></section>
   		<!-- warning box -->
   		<section class="right-box" th:if="${errorMessage}">
   			<div class="f-l"><img th:src="${#r.s('warning.gif', 'img')}" alt="Warning" /></div>
   			<div class="err-msg"><ul><li><span th:text="${errorMessage}"></span></li></ul></div>
		</section>
		
		<!-- activation form -->
   		<section class="right-box">
   			<div class="p-3"><span class="large-text">Activa el teu usuari!</span></div>
   			<form th:action="${#r.r('signup', 'activatePost', activationToken)}" method="post">
   			<div class="p-3">
   				<div class="t-r-a-t"><span>Inventa't un password per jugar a la porra</span></div>
				<div class="t-r-a-m-l"><span>Nom d'usuari:</span></div>
				<div class="t-r-a-m-r"><span class="w-s" th:text="${userName}"></span></div>
	            <div class="t-r-a-n-l"><label for="pwd">Clau:</label></div>
	            <div class="t-r-a-n-r"><input type="password" id="pwd" name="pwd" autofocus="autofocus" /></div>
	            <div class="t-r-a-n-l"><label for="pwd-con">Confirma clau:</label></div>
	            <div class="t-r-a-n-r"><input type="password" id="pwd-con" name="pwd-con" /></div>
				<div class="t-r-a-b"><input id="signup" type="submit" value="Activar!" class="large-text"/></div>
			</div>
			</form>
   		</section>
   	</div>
   	</div>
   	</section>
	<footer th:substituteby="home::mainFooter"></footer>
	</body>
</html>