<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:recaptcha="http://net.llop.thymeleaf.recaptcha">
	<head th:substituteby="home::head"></head>
    <body>
    <header th:substituteby="home::mainHeader"></header>
	<section id="main-section">
   	<div id="m-block">
    <section th:substituteby="home::blockLeft"></section>
   	<div id="m-block-top">
   		<section th:substituteby="home::userSection"></section>
   		
   		<!-- warning box -->
   		<section class="right-box" th:if="${errors}">
   			<div class="f-l"><img th:src="${#r.s('warning.gif', 'img')}" alt="Warning" /></div>
   			<div th:each="error,rowStat : ${errors}" class="err-msg"></div>
		</section>
		<!-- signup form -->
   		<section class="right-box">
   			<script th:inline="javascript">
		   	/*<![CDATA[*/ 
	        	function onSubmitHandler() {
		   			$('#signup').attr('disabled', 'disabled');
	        		$('#loader').show();
		   		}
			/*]]>*/
		   	</script>
		   	<div id="loader">
   				<div><img alt="Loading" src="http://dl.dropbox.com/u/156484492/porraeda/img/loader.gif" /></div>
   				<div><span>Tingues paciència siusplau!</span></div>
   			</div>
   			<div class="p-3"><span class="large-text">Establir un nou password!</span></div>
   			<form id="f-form" th:action="${#r.r('home', 'resetPassPost')}" method="post" onsubmit="onSubmitHandler()">
   			<div class="p-3">
	            <div class="t-r-a-n-l"><label for="usr">Nom d'usuari:</label></div>
	            <div class="t-r-a-n-r"><input type="text" id="usr" name="usr" autofocus="autofocus" maxlength="16" /></div>
	            <div class="t-r-a-n-l"><label for="mil">E-mail:</label></div>
	            <div class="t-r-a-n-r"><input type="email" id="mil" name="mil" /></div>
				<div class="t-r-a-n-cap"><div recaptcha:recaptcha=""></div></div>
				<div class="t-r-a-b"><input id="signup" type="submit" value="Envia petició!" class="large-text"/></div>
			</div>
			</form>
   		</section>
   	</div>
   	</div>
   	</section>
	<footer th:substituteby="home::mainFooter"></footer>
	</body>
</html>