<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:substituteby="home::head"></head>
    <body>
	<header th:substituteby="home::mainHeader"></header>
	<section id="main-section">
  	<div id="m-block">
    <section th:substituteby="home::userSection"></section>
  	<article id="faq-article">
  		<header class="f-a-h">Ajuda a millorar la web :P</header>
  		
  		<section id="q-a-section">
  		<div class="quest"><span>Si tens ganes i temps per col·laborar...</span></div>
  		<div class="ans">
   		<p>Pots contribuir amb <span class="w-s">codi</span> o <span class="w-s">idees</span>, o <span class="w-s">promocionant</span> la web a les diferents xarxes socials! Qualsevol bona pensada és benvinguda! :)</p>
   		<p>Ah, i a més <span class="w-s">apareixeràs com a col·laborador</span> de la web! I obtindràs <span class="w-s">1000 kudos extra</span> si tens un usuari!!!</p>
   		<p>La web està feta amb les següents tecnologies en el servidor:</p>
   		<ul>
   			<li><a href="http://www.java.com" target="_blank"><span class="w-s">Java</span></a></li>
			<li><a href="http://www.springsource.org/spring-framework" target="_blank"><span class="w-s">Spring</span></a></li>
			<li><a href="http://www.thymeleaf.org" target="_blank"><span class="w-s">Thymeleaf</span></a></li>
   		</ul>
   		<p>En el cantó client hi ha:</p>
   		<ul>
   			<li><a href="http://www.w3schools.com/html5" target="_blank"><span class="w-s">HTML</span></a></li>
			<li><span class="w-s">CSS</span></li>
			<li><a href="http://jquery.com/" target="_blank"><span class="w-s">jQuery</span></a><span class="w-s"> + Ajax</span></li>
   		</ul>
   		<p>La base de dades és <a href="http://www.mongodb.org/" target="_blank"><span class="w-s">MongoDB</span></a> (NoSQL, es veu al final de <strong>BD</strong>!).</p>
   		<p>Totes aquestes eines són gratuïtes, relativament fàcils d'aprendre si en teniu ganes, i molt potents per fer aquesta mena de coses.</p>
   		<p>El codi de l'aplicació està obert a tothom al GitHub: <a href="https://github.com/llop/porra-joc-eda" target="_blank"><span class="w-s">https://github.com/llop/porra-joc-eda</span></a>.<br />
   		És un típic projecte <a href="http://maven.apache.org/" target="_blank"><span class="w-s">Maven</span></a>. Podeu pillar el projecte i proposar així canvis i/o millores <span class="w-s">:D</span></p>
   		<p>En la propia aplicació web podem millorar coses, per exemple:</p>
   		<ul>
   			<li>"Internacionalitzar" el texte aprofitant les tecnologies emprades.</li>
   			<li>Moure validacions que no es fan al lloc més indicat + tractament d'excepcions.</li>
   			<li>Currar-se un model de dades més maco que l'actual.</li>
   		</ul>
   		<p>Però també es pot aprofitar la infrastructura existent per fer la <span class="w-s">versió Mobile</span> de La Porra!</p>
   		<p>Per exemple, per saber a quant està una aposta de resistència pel jugador X, es fa un GET a <code><strong>/tipus/resistencia/kudos/{kudos}/jugador/{jugador}/rondes/{rondes}</strong></code>. Això torna un JSON amb la resposta.</p>
   		<p>No sería complicat unir forces per fer una senzilla app, que permeti apostar durant la propia final amb l'IPhone o un mòbil Android.</p>
   		<p>Envia un mail a l'<code>albert.lobo&#64;est.fib.upc.edu</code>, amb subject <strong>Web Porra Joc EDA</strong> per qualsevol cosa!</p>
  		</div>
  		</section>
  		
  	</article>
  		
		<div id="back-box">
		<div class="t-a-c"><a th:href="${#r.r('home', 'welcome')}"><span class="w-s">Tornar a la pàgina principal</span></a></div>
		</div>
	</div>
	</section>
	<footer th:substituteby="home::mainFooter"></footer>
	</body>
</html>