.w-s{color:#B00;font-weight:bold}
.o-s{color:#F90}
.o-s-b{color:#F90;font-weight:bold}
.m-p-t-r{text-align:right;padding:2px 20px 2px 0px}
#news-updates{position:absolute;white-space:nowrap}
#news-updates-box{position:relative;height:30px;display:block;overflow:hidden;padding:5px}
#most-pop-title{padding-bottom:20px}
