<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head th:substituteby="desktop/fragments::head"></head>
    <body>
    <header th:substituteby="desktop/fragments::header"></header>
    <section id="main-section">
   	<div id="m-block">
    <section th:substituteby="desktop/fragments::blockLeft"></section>
   	<div id="m-block-top">
    	<section th:substituteby="desktop/fragments::userSection"></section>
    	
		<div class="a-bg">
		<div id="takeshi-says"><img th:src="@{/static/img/kitano-waiting.jpg}" th:alt="#{view.alt.takeshiWaits}" /></div>
		<div class="t-a-c">
			<p><span th:utext="${#messages.msg('view.signupMsg1', usr)}"></span><br /></p>
			<p><span th:utext="#{view.signupMsg5}"></span><br /></p>
  			<p><span th:utext="#{view.signupMsg2}"></span></p>
		</div>
		</div>
		
		<aside th:substituteby="desktop/fragments::backBox"></aside>
   	</div>
   	</div>
   	</section>
	<footer th:substituteby="desktop/fragments::footer"></footer>
	</body>
</html>